[bastion]
bastion-host ansible_host=${bastion_ip} ansible_user=root

[compute]
%{ for instanceIndex, instance in instances ~}
${instance.name} ansible_host=${instance.primary_network_interface.0.primary_ipv4_address} ansible_user=root
%{ endfor ~}

[compute:vars]
ansible_ssh_extra_args='-o "StrictHostKeyChecking=no" -o ProxyCommand="ssh -o StrictHostKeyChecking=no -W %h:%p root@${bastion_ip}"'