[bastion]
bastion-host ansible_host=${bastion_ip} ansible_user=root

[controller]
%{ for instanceIndex, cp_instance in controller ~}
${cp_instance.name} ansible_host=${cp_instance.primary_network_interface.0.primary_ipv4_address} ansible_user=root
%{ endfor ~}

[controller:vars]
ansible_ssh_extra_args='-o "StrictHostKeyChecking=no" -o ProxyCommand="ssh -o StrictHostKeyChecking=no -W %h:%p root@${bastion_ip}"'

[workers]
%{ for instanceIndex, wrk_instance in workers ~}
${wrk_instance.name} ansible_host=${wrk_instance.primary_network_interface.0.primary_ipv4_address} ansible_user=root
%{ endfor ~}

[workers:vars]
ansible_ssh_extra_args='-o "StrictHostKeyChecking=no" -o ProxyCommand="ssh -o StrictHostKeyChecking=no -W %h:%p root@${bastion_ip}"'